@using System.Collections.Generic;

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1">
            <li class="breadcrumb-item d-flex justify-content-center">
                <i class="bx bx-home"></i>
                <a asp-action="Index" asp-controller="Dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-action="Index" asp-controller="Employee">User</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-action="Index" asp-controller="Employee">Detail</a>
            </li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-10">
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn rounded-pill btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#modalCenter">
                                <span class="tf-icons bx bx-laptop"></span>&nbsp Borrow Devices
                            </button>
                        </div>
                    </div>
                    <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalCenterTitle">Borrow Devices</h5>
                                    <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col mb-3">
                                            <label for="nameWithTitle" class="form-label">Employee ID</label>
                                            <input type="text"
                                                   id="nameWithTitle"
                                                   value="6731b83dff66f6ffc5b61e14"
                                                   class="form-control" disabled />
                                        </div>
                                    </div>
                                    <div class="row g-2">
                                        <div class="col mb-0">
                                            <label for="emailWithTitle" class="form-label">Devices</label>
                                            <input type="text"
                                                   id="emailWithTitle"
                                                   class="form-control"
                                                   placeholder="xxxx@xxx.xx" />
                                        </div>
                                        <div class="col mb-0">
                                            <label for="dobWithTitle" class="form-label">Borrow Date</label>
                                            <input type="text"
                                                   id="dobWithTitle"
                                                   class="form-control"
                                                   placeholder="DD / MM / YY" />
                                        </div>
                                    </div>
                                    <div class="row g-2 mt-2">
                                        <div class="col mb-0">
                                            <label for="emailWithTitle" class="form-label">Devices</label>
                                            <input type="text"
                                                   id="emailWithTitle"
                                                   class="form-control"
                                                   placeholder="xxxx@xxx.xx" />
                                        </div>
                                        <div class="col mb-0">
                                            <label for="dobWithTitle" class="form-label">Borrow Date</label>
                                            <input type="text"
                                                   id="dobWithTitle"
                                                   class="form-control"
                                                   placeholder="DD / MM / YY" />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="" method="" asp-action="">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-3">
                                <div class="card mb-4 mb-xl-0">
                                    <div class="card-header">Profile Picture</div>
                                    <div class="card-body text-center">
                                        <!-- Profile picture image-->
                                        <img class="img-account-profile rounded-circle mb-2" style="height: 10rem" src="~/assets/img/avatars/avatar.png" alt="avatar">
                                        <!-- Profile picture help block-->
                                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                                        <!-- Profile picture upload button-->
                                        <button class="btn btn-primary" type="button">Upload new image</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="row mb-3 form-group">
                                    <div class="col-6">
                                        <label class="col-form-label" for="basic-icon-default-employeeId">User ID:</label>
                                        <div class="input-group input-group-merge">
                                            <span id="basic-icon-default-employeeId" class="input-group-text" style="background-color: #eceef1;">
                                                <i class="bx bx-key"></i>
                                            </span>
                                            <input type="text"
                                                   disabled
                                                   id="employeeId"
                                                   class="form-control"
                                                   value="6731b83dff66f6ffc5b61e14"
                                                   placeholder="6731b83dff66f6ffc5b61e14"
                                                   aria-label="6731b83dff66f6ffc5b61e14"
                                                   aria-describedby="basic-addon11" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="col-form-label" for="basic-icon-default-company">Fullname:</label>
                                        <div class="input-group input-group-merge">
                                            <span id="basic-icon-default-username" class="input-group-text">
                                                <i class="bx bx-user"></i>
                                            </span>
                                            <input type="text"
                                                   id="username"
                                                   class="form-control"
                                                   value="Nguyen Trung Tuyen"
                                                   aria-label="username"
                                                   aria-describedby="basic-addon11" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3 form-group">
                                    <div class="col-6">
                                        <label class="col-form-label" for="basic-icon-default-birthday">Birthday:</label>
                                        <div class="input-group input-group-merge">
                                            <span id="basic-icon-default-birthday" class="input-group-text">
                                                <i class="bx bx-calendar"></i>
                                            </span>
                                            <input class="form-control" type="date" value="2021-06-18" id="birthday" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="col-form-label" for="basic-icon-default-phone">Phone:</label>
                                        <div class="input-group input-group-merge">
                                            <span id="basic-icon-default-phone" class="input-group-text">
                                                <i class="bx bx-phone"></i>
                                            </span>
                                            <input class="form-control" type="tel" value="0779382123" id="phone" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3 form-group">
                                    <label class="col-form-label" for="basic-icon-default-email">Email:</label>
                                    <div class="input-group input-group-merge">
                                        <span id="basic-icon-default-email" class="input-group-text">
                                            <i class="bx bx-envelope"></i>
                                        </span>
                                        <input type="text"
                                               id="email"
                                               class="form-control"
                                               value="nttuyen12@gmail.com"
                                               aria-label="user@example.com"
                                               aria-describedby="basic-addon11" />
                                    </div>
                                </div>
                                <div class="row mb-3 form-group">
                                    <div class="col-6">
                                        <label class="col-form-label" for="basic-icon-default-position">Position:</label>
                                        <div class="input-group input-group-merge">
                                            <select id="position" class="form-select">
                                                <option>Default select</option>
                                                <option value="1">President</option>
                                                <option value="2">Personnel manager</option>
                                                <option value="3">Accounting manager</option>
                                                <option value="3">Trainee</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="col-form-label" for="basic-icon-default-birthday">Department:</label>
                                        <div class="input-group input-group-merge">
                                            <select id="department" class="form-select">
                                                <option>Default select</option>
                                                <option value="1">Chi Nhánh 1</option>
                                                <option value="2">Chi Nhánh 2</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4 form-group">
                                    <div class="col-6">
                                        <label class="col-form-label" for="basic-icon-default-birthday">Created:</label>
                                        <div class="input-group input-group-merge">
                                            <span id="basic-icon-default-created" class="input-group-text">
                                                <i class="bx bx-calendar"></i>
                                            </span>
                                            <input class="form-control" type="date" value="2021-06-18" id="createdAt" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="col-form-label" for="basic-icon-default-birthday">Updated:</label>
                                        <div class="input-group input-group-merge">
                                            <span id="basic-icon-default-updated" class="input-group-text">
                                                <i class="bx bx-calendar"></i>
                                            </span>
                                            <input class="form-control" type="date" value="2021-06-23" id="updatedAt" />
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" id="btnBackHome" onclick="location.href='@Url.Action("Index", "Employee")'" class="btn btn-primary">Back Home</button>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>