@model DeviceManagementSystem.Models.DeviceType

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1">
            <li class="breadcrumb-item d-flex justify-content-center">
                <i class="bx bx-home"></i>
                <a asp-action="Index" asp-controller="Dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-action="Index" asp-controller="DeviceType">Device Type</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-action="Create" asp-controller="DeviceType">Create</a>
            </li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-body">
                    <form class="" asp-action="Create" method="post">
                        <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-8">
                                <div class="row mb-3 mt-3 form-group">
                                    <label class="col-sm-3 col-form-label text-end" for="basic-icon-default-name">Type name:</label>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <span id="basic-icon-default-name" class="input-group-text">
                                                <i class="bx bx-laptop"></i>
                                            </span>
                                            <input type="text"
                                                   id="name"
                                                   class="form-control"
                                                   asp-for="name"
                                                   aria-describedby="basic-addon11" />
                                        </div>
                                        <span asp-validation-for="name" class="text-danger d-inline-block" style="margin-top: 5px"></span>
                                    </div>
                                </div>
                                <div class="row mb-4 form-group">
                                    <label class="col-sm-3 col-form-label text-end" for="basic-icon-default-description">Description:</label>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <span id="basic-icon-default-message2" class="input-group-text">
                                                <i class="bx bx-comment"></i>
                                            </span>
                                            <textarea class="form-control"
                                                      id="description"
                                                      type="text"
                                                      placeholder="Hi, Do you have a moment to talk Joe?"
                                                      aria-label="Hi, Do you have a moment to talk Joe?"
                                                      asp-for="description"
                                                      aria-describedby="basic-icon-default-message2"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-3"></div>
                                    <div class="col-9">
                                        <button type="submit" id="btnCreate" class="btn btn-primary">Create</button>
                                        <a asp-action="Index" class="btn btn-secondary">Back Home</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}